
.mos-libro {
    border: 2px solid #ffffff;
    padding: 15px;
    background-color: #6e3b57;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 700px;
}
.mos-libro h3 {
    margin: 0;
    color: #f7ebeb;
}
.mos-libro p {
    margin: 5px 0;
    color: #ffffff;
}
.mos-libro strong {
    color: #f7f0f0;
}
